Fase 2/Proyecto_IPC/Proyecto_IPC/Web References/WSProyecto/Servicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Servicios" targetNamespace="http://WS/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://desktop-5mgvva6:8080/WSProyectoIPC2/Servicios?xsd=1" namespace="http://WS/" />
    </xsd:schema>
  </types>
  <message name="insertNumSession">
    <part name="parameters" element="tns:insertNumSession" />
  </message>
  <message name="insertNumSessionResponse">
    <part name="parameters" element="tns:insertNumSessionResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="getTipoUsuario">
    <part name="parameters" element="tns:getTipoUsuario" />
  </message>
  <message name="getTipoUsuarioResponse">
    <part name="parameters" element="tns:getTipoUsuarioResponse" />
  </message>
  <message name="iniciarSesion">
    <part name="parameters" element="tns:iniciarSesion" />
  </message>
  <message name="iniciarSesionResponse">
    <part name="parameters" element="tns:iniciarSesionResponse" />
  </message>
  <message name="getNumSession">
    <part name="parameters" element="tns:getNumSession" />
  </message>
  <message name="getNumSessionResponse">
    <part name="parameters" element="tns:getNumSessionResponse" />
  </message>
  <message name="crearUsuario">
    <part name="parameters" element="tns:crearUsuario" />
  </message>
  <message name="crearUsuarioResponse">
    <part name="parameters" element="tns:crearUsuarioResponse" />
  </message>
  <portType name="Servicios">
    <operation name="insertNumSession">
      <input wsam:Action="http://WS/Servicios/insertNumSessionRequest" message="tns:insertNumSession" />
      <output wsam:Action="http://WS/Servicios/insertNumSessionResponse" message="tns:insertNumSessionResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://WS/Servicios/helloRequest" message="tns:hello" />
      <output wsam:Action="http://WS/Servicios/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="getTipoUsuario">
      <input wsam:Action="http://WS/Servicios/getTipoUsuarioRequest" message="tns:getTipoUsuario" />
      <output wsam:Action="http://WS/Servicios/getTipoUsuarioResponse" message="tns:getTipoUsuarioResponse" />
    </operation>
    <operation name="iniciarSesion">
      <input wsam:Action="http://WS/Servicios/iniciarSesionRequest" message="tns:iniciarSesion" />
      <output wsam:Action="http://WS/Servicios/iniciarSesionResponse" message="tns:iniciarSesionResponse" />
    </operation>
    <operation name="getNumSession">
      <input wsam:Action="http://WS/Servicios/getNumSessionRequest" message="tns:getNumSession" />
      <output wsam:Action="http://WS/Servicios/getNumSessionResponse" message="tns:getNumSessionResponse" />
    </operation>
    <operation name="crearUsuario">
      <input wsam:Action="http://WS/Servicios/crearUsuarioRequest" message="tns:crearUsuario" />
      <output wsam:Action="http://WS/Servicios/crearUsuarioResponse" message="tns:crearUsuarioResponse" />
    </operation>
  </portType>
  <binding name="ServiciosPortBinding" type="tns:Servicios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertNumSession">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTipoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="iniciarSesion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getNumSession">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Servicios">
    <port name="ServiciosPort" binding="tns:ServiciosPortBinding">
      <soap:address location="http://desktop-5mgvva6:8080/WSProyectoIPC2/Servicios" />
    </port>
  </service>
</definitions>